[Unit]
Description=dnsmasq exporter for Prometheus
#Requires=dnsmasq.service
#After=network.target dnsmasq.service

[Service]
Environment=GOROOT=/usr/lib/go
Environment=GOPATH=/usr/local/go
ExecStart=/usr/local/go/bin/dnsmasq_exporter
Restart=always
User=prometheus
KillMode=process

[Install]
WantedBy=multi-user.target