modules:
  http_2xx:
    prober: http
    timeout: {{ prometheus_scrape_timeout }}
    http:
      method: GET
      valid_status_codes: [200, 302]
      no_follow_redirects: true
      proxy_url: http://127.0.0.1:8118
      tls_config:
        insecure_skip_verify: true
      preferred_ip_protocol: "ip4"